infra/n8n/workflows/bexo-portfolio-generate.json
{
  "name": "BEXO — Portfolio Generate (Workflow A)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bexo-portfolio-generate",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bexo-portfolio-generate"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-bexo-secret'] || $json.headers['X-BEXO-Secret'] }}",
              "operation": "equals",
              "value2": "={{ $env.N8N_WEBHOOK_SECRET }}"
            }
          ]
        }
      },
      "id": "verify-secret",
      "name": "Verify X-BEXO-Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/site_builds?id=eq.{{ $('Webhook').item.json.body.buildId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"building\", \"build_log\": \"n8n: codegen will load profile from database\" }"
      },
      "id": "status-building",
      "name": "Supabase — building",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/profiles?id=eq.{{ $('Webhook').item.json.body.profileId }}&select=id,handle",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        }
      },
      "id": "fetch-profile",
      "name": "Supabase — fetch handle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "profileId",
              "name": "profileId",
              "value": "={{ $('Webhook').item.json.body.profileId }}",
              "type": "string"
            },
            {
              "id": "buildId",
              "name": "buildId",
              "value": "={{ $('Webhook').item.json.body.buildId }}",
              "type": "string"
            },
            {
              "id": "handle",
              "name": "handle",
              "value": "={{ (() => { const raw = $('Supabase — fetch handle').first().json; const p = Array.isArray(raw) ? raw[0] : raw; return (p && p.handle) ? String(p.handle).toLowerCase() : ''; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-build-payload",
      "name": "Extract build payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ (() => { const raw = $env.CLOUD_RUN_BUILD_URL || 'https://bexo-codegen-901109516440.us-central1.run.app'; const base = String(raw).replace(/\\/build\\/?$/i, '').replace(/\\/$/, ''); return base + '/build'; })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-BEXO-Internal-Secret", "value": "={{ $env.BEXO_INTERNAL_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { profileId: $json.profileId, buildId: $json.buildId, handle: $json.handle } }}",
        "options": {
          "timeout": 660000
        },
        "onError": "continueErrorOutput"
      },
      "id": "trigger-codegen",
      "name": "Cloud Run — /build",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 220],
      "notes": "POST only. URL must end with /build. On failure → Supabase — failed."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/site_builds?id=eq.{{ $('Webhook').item.json.body.buildId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'failed', build_log: 'n8n/Cloud Run error: ' + ($json.message || $json.errorMessage || $json.error || JSON.stringify($json).slice(0, 500)) } }}"
      },
      "id": "status-failed",
      "name": "Supabase — failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 480]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Verify X-BEXO-Secret", "type": "main", "index": 0 }]] },
    "Verify X-BEXO-Secret": {
      "main": [
        [{ "node": "Supabase — building", "type": "main", "index": 0 }],
        [{ "node": "Supabase — failed", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — building": { "main": [[{ "node": "Supabase — fetch handle", "type": "main", "index": 0 }]] },
    "Supabase — fetch handle": { "main": [[{ "node": "Extract build payload", "type": "main", "index": 0 }]] },
    "Extract build payload": { "main": [[{ "node": "Cloud Run — /build", "type": "main", "index": 0 }]] },
    "Cloud Run — /build": {
      "main": [[]],
      "error": [[{ "node": "Supabase — failed", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Workflow A v2: no AI portfolio.md — Cloud Run builds spec from Supabase. Set CLOUD_RUN_BUILD_URL on n8n VM."
  }
}
